{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% for product in product %}
        <a href="{% url 'product' product.title %}">
            <div id="list" class="row border">
                <div id="list_img">
                    <img src="{{product.photo}}" alt="{{ product.title }}">
                </div>
                <div id="list_content">
                    <h3>{{ product.title }}</h3>
                    <p>Rs.{{ product.price}}</p>
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock %}
